<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reconocimiento Facial</title>
</head>
<body>
    <h1>🎥 Reconocimiento Facial (OpenCV en tiempo real)</h1>
    
    <img id="stream" src="/video_feed" width="640" height="480" />
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <a href="/registro">
        <button>Registrar nuevo estudiante</button>
      </a>  
    <script>
        const streamImg = document.getElementById('stream');
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
    
        setInterval(() => {
            ctx.drawImage(streamImg, 0, 0, canvas.width, canvas.height);
            const dataUrl = canvas.toDataURL('image/jpeg');
    
            fetch('/analizar_frame', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ image: dataUrl })
            })
            .then(response => response.json())
            .then(data => {
                if (data.nombre) {
                    console.log(`✔ Reconocido: ${data.nombre}`);
                } else {
                    console.log('❌ No reconocido');
                }
            });
        }, 1000);
    </script>
</body>
</html>
